<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>[[${pageTitle}]] | my pen-box</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.6.0.js"></script>
</head>

<body>
<div class="grid grid__index">
    <header>
        <a href="/" class="title">my pen-box</a>
        <div class="header-links" th:classappend="${#authentication.principal == 'anonymousUser'} ? '' : 'header-account-info'">
            <div sec:authorize="isAnonymous()">
                <a href="/login" class="header-links__login">Log In</a>
                <a href="/signup" class="header-links__signup">Sign Up</a>
            </div>
            <div sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
                <span><b th:text="${#authentication.principal.getFirstName} + ' ' + ${#authentication.principal.getLastName}"></b></span><br>
                <span th:text="'@' + ${#authentication.principal.getNickname}"></span>
            </div>
        </div>
        <div class="header-account-avatar" sec:authorize="hasAnyAuthority('USER', 'ADMIN')"></div>
        <div class="settings-icon">
            <div class="settings-icon__burger"></div>
        </div>
    </header>
    <div class="laptop-title"><a href="/">my pen-box</a></div>
    <div class="settings">
        <a href="#" class="settings__flex" sec:authorize="hasAnyAuthority('USER', 'ADMIN')">Edit account</a>
        <a href="/logout" class="settings__flex" sec:authorize="hasAnyAuthority('USER', 'ADMIN')">Log out</a>
        <a href="/feedback" class="settings__flex-feedback">Send Feedback</a>
        <a href="#" class="en-language settings__flex">en</a>
        <a href="#" class="ru-language settings__flex">ru</a>
        <a href="#" class="dark-mode settings__flex">dark mode</a>
        <a href="#" class="light-mode settings__flex">light mode</a>
        <span class="copyright">© Copyright — Helena Meadows</span>
    </div>

    <div class="settings-background">
    </div>

    <div class="account-info" sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
        <a href="#" class="account-info__fullname" th:text="${#authentication.principal.getFirstName} + ' ' + ${#authentication.principal.getLastName}"></a>
        <span class="account-info__nickname" th:text="'@' + ${#authentication.principal.getNickname}"></span>
        <span class="account-info__registered">member since<br><span th:text="${#temporals.format(T(java.time.LocalDate).of(#dates.year(#authentication.principal.getJoinedDate), #dates.month(#authentication.principal.getJoinedDate), #dates.day(#authentication.principal.getJoinedDate)), 'MMMM d, yyyy', new java.util.Locale('en', 'EN'))}"></span></span>
        <div class="account-info__settings">
            <a href="edit.html">Edit account</a>
            <a href="/logout">Log out</a>
        </div>
    </div>

    <div class="laptop-settings" th:classappend="${#authentication.principal == 'anonymousUser'} ? 'laptop-settings__index' : ''">
        <a href="/feedback" class="settings__flex-feedback">Send Feedback</a>
        <a href="#" class="en-language settings__flex">en</a>
        <a href="#" class="ru-language settings__flex">ru</a>
        <a href="#" class="dark-mode settings__flex">dark mode</a>
        <a href="#" class="light-mode settings__flex">light mode</a>
        <p class="laptop-copyright">© Copyright — Helena Meadows</p>
    </div>

    <nav class="main-nav main-nav__index">
        <form role="search" method="get" name="search" class="search search__index" action="">
            <button type="submit" name="submit" aria-label="submit">
                <i class="search-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                         style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path class="st0" d="M-1,2" />
                        <path class="st1" d="M337.3,340.3L447,450" />
                        <circle class="st1" cx="229.1" cy="223.5" r="156.2" />
                        </svg>
                </i>
            </button>
            <input type="text" name="search" id="input" value="" class="search-input" placeholder="Search">
            <button type="reset" name="reset" aria-label="reset">
                <i class="reset-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                         style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <line class="st0" x1="192" y1="320" x2="318.7" y2="193.3" />
                        <line class="st0" x1="192" y1="192" x2="320" y2="320" />
                        </svg>
                </i>
            </button>
        </form>
        <ul>
            <li><a href="/catalog">catalogue</a></li>
            <div sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
                <li><a href="#">my pen-box</a></li>
                <li><a href="#">my sets</a></li>
                <li><a href="#">favourites</a></li>
                <li><a href="#">wishlist</a></li>
            </div>
        </ul>
    </nav>

    <div class="content-window content-window__index content-window__error">
        <h2 class="heading">403 forbidden</h2>
        <p class="content-window__text">
            <b>You don't have permission to view this page</b><br>
        </p>
    </div>

</div>
</body>
<script src="/js/main.js"></script>

</html>