@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #580e3c;
}

:root {
    --clr-primary: #393636;
    --clr-aqua: #8adaff;
    --clr-header: #580e3c;
    --clr-accent-1: #989cd7;
    --clr-accent-2: #ff66c4;
    --clr-accent-3: #DBB1BC;
    --clr-search: #E6DFEF;
    --clr-filters: #e0e0e0;

    --clr-prima: #81d4fa;
    --clr-primary-light: #e1f5fe;
    --clr-primary-dark: #4fc3f7;
    --clr-gray100: #f9fbff;
    --clr-gray150: #f4f6fb;
    --clr-gray200: #eef1f6;
    --clr-gray300: #e1e5ee;
    --clr-gray400: #767b91;
    --clr-gray500: #4f546c;
    --clr-gray600: #2a324b;
    --clr-gray700: #161d34;
    --clr-pending: #fff0c2;
    --clr-pending-font: #a68b00;
    --clr-unpaid: #ffcdd2;
    --clr-unpaid-font: #c62828;
    --clr-paid: #c8e6c9;
    --clr-paid-font: #388e8c;
    --clr-link: #2962ff;


    --ff-raleway: "Raleway", Helvetica, sans-serif;
    --ff-montserrat: "Montserrat", Helvetica, sans-serif;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

html {
    scrollbar-width: thin;
    scrollbar-color: hsl(323, 73%, 20%) transparent;
}

body {
    line-height: 1;
    background-color: #FFF;
    font-family: var(--ff-raleway);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/* MY CODE*/

.grid {
    display: grid;
    grid-template-columns: 8% auto 8%;
    grid-template-areas:
        "header header header"
        "settings settings settings"
        ". main-nav ."
        ". content ."
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    grid-area: header;
    width: 100%;
    min-height: 3.2rem;
    position: fixed;
    top: 0;
    z-index: 1100;
    background-color: var(--clr-header);
}

.laptop-title {
    display: none;
}

.main-logo {
    font-size: 2rem;
    font-family: var(--ff-raleway);
    font-weight: 300;
    color: var(--clr-aqua);
    margin-left: 1rem;
    margin-bottom: 0.25rem;
}

.header-links {
    font-family: var(--ff-raleway);
    font-weight: 400;
    margin-left: auto;
}

.header-links a {
    display: inline-block;
    color: var(--clr-accent-1);
    margin-right: 0.5rem;
}

.login-b:hover {
    color: var(--clr-accent-2);
    transition-duration: 0.4s;
    cursor: pointer;
}

.login-b:active {
    transform: scale(0.95);
    transition-duration: 0.4s;
}

.signup-b {
    font-size: 1rem;
    font-weight: 500;
    padding: 0.4em 0.4em;
    border: 0.12em solid var(--clr-accent-1);
    border-radius: 0.375em;
}

.signup-b:hover {
    color: var(--clr-accent-2);
    border: 0.12em solid var(--clr-accent-2);
    transition-duration: 0.4s;
    cursor: pointer;
}

.signup-b:active {
    transform: scale(0.95);
    transition-duration: 0.4s;
}

.set-icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url("../img/settings.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    margin-right: 0.1rem;
    cursor: pointer;
    overflow: visible;
}

.settings {
    grid-area: settings;
    display: none;
    flex-flow: row wrap;
    gap: 0.5rem;
    width: 100%;
    height: fit-content;
    text-align: center;
    position: fixed;
    top: 3.2rem;
    z-index: 1000;
    padding: 1.3rem 8%;
    background-color: var(--clr-header);
}

.feedback-b {
    flex: 1 100%;
}

.lang-flex {
    flex: 2 40%;
}

.mode-flex {
    flex: 3 40%;
}

.settings a {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--clr-accent-1);
    text-transform: uppercase;
    text-align: center;
    padding: 0.825rem 0;
    border: 0.11rem solid currentColor;
    border-radius: 0.375rem;
}

.settings a:hover {
    background-color: var(--clr-accent-1);
    color: #FFF;
    border: 0.11rem solid var(--clr-header);
    transition-duration: 0.4s;
    cursor: pointer;
}

.settings a:active {
    background-color: var(--clr-accent-2);
    color: #FFF;
    border: 0.11rem solid var(--clr-header);
    transform: scale(0.98);
    transition-duration: 0.4s;
    cursor: pointer;
}

.copyright {
    display: inline-block;
    flex: 4 100%;
    font-size: 0.9rem;
    color: rgba(230, 223, 239, 0.5);
    padding: 0.7rem 0 0.5rem;
}

.settings-background {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 3.2rem;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
}

.laptop-signup-login {
    display: none;
}

.accountbar {
    display: none;
}

.laptop-settings {
    display: none;
}

/* MAIN-NAV */

.main-nav {
    grid-area: main-nav;
    height: fit-content;
    margin: 4rem 0 0;
    z-index: 500;
}

.main-nav ul li {
    display: block;
    list-style: none;
    margin: 0.5rem auto;
}

.main-nav ul li a {
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--clr-primary);
    text-transform: uppercase;
    text-align: center;
    padding: 0.825rem 0;
    border: 0.11rem solid var(--clr-primary);
    border-radius: 0.375rem;
}

.main-nav ul li a:hover {
    background-color: var(--clr-accent-1);
    color: #FFF;
    border: 0.11rem solid currentColor;
    transition-duration: 0.4s;
    cursor: pointer;
}

.main-nav ul li a:active {
    background-color: var(--clr-accent-2);
    color: #FFF;
    border: 0.11rem solid currentColor;
    transform: scale(0.98);
    transition-duration: 0.4s;
    cursor: pointer;
}

.search {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
}

.search__newbies {
    margin-top: 0rem;
}

.search button {
    padding: 0;
    border: none;
    background-color: transparent;
}

.search button i {
    position: absolute;
    bottom: 0.35rem;
    z-index: 800;
}

.search-icon {
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
    left: 0.25rem;
    background-image: url("../img/search-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.reset-icon {
    display: none;
    width: 1.7rem;
    height: 1.7rem;
    right: 0.3rem;
    background-image: url("../img/close-circle-outline.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: 500ms ease-in-out;
    cursor: pointer;
}

.search-input {
    font-family: var(--ff-raleway);
    font-weight: 500;
    font-size: 1rem;
    color: var(--clr-primary);
    background-color: var(--clr-search);
    border: 0.12rem solid var(--clr-primary);
    border-radius: 0.2rem;
    padding: 0.5rem 2.1rem;
    width: 100%;
}

/* CONTENT WINDOW */

.content-window {
    grid-area: content;
    width: 100%;
    overflow-x: auto;
    height: fit-content;
    font-family: var(--ff-montserrat);
    color: var(--clr-primary);
    font-size: 0.9rem;
}

.content-window__newbies {
    padding: 1.7rem;
    border: 1px solid #000;
    border-radius: 0.375rem;
}

.content-window__newbies {
    padding: 1.7rem;
    border: 1px solid var(--clr-primary);
    border-radius: 0.375rem;
}

.greeting {
    font-family: var(--ff-montserrat);
    color: var(--clr-primary);
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.about-text {
    margin-bottom: 1.2rem;
}

.newbies-registration {
    display: flex;
    justify-content: space-evenly;
}

.newbies-registration a {
    font-family: var(--ff-montserrat);
    color: var(--clr-primary);
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem 3.4rem;
    border: 1px solid var(--clr-primary);
    border-radius: 0.375rem;
}

.newbies-registration a:hover {
    background-color: var(--clr-accent-1);
    color: #FFF;
    border: 0.11rem solid currentColor;
    transition-duration: 0.4s;
    cursor: pointer;
}

.newbies-registration a:active {
    background-color: var(--clr-accent-2);
    color: #FFF;
    border: 0.11rem solid currentColor;
    transform: scale(0.98);
    transition-duration: 0.4s;
    cursor: pointer;
}

/* CONTENT TABLE */

.filters-section {
    display: inline-block;
    width: 100%;
    height: fit-content;
    align-items: center;
    white-space: nowrap;
    padding: 0.5rem;
    color: var(--clr-primary);
    background-color: rgb(224, 224, 224, 0.4);
}

.filters-section p {
    font-size: 1rem;
}

.off-btn {
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.1rem;
    margin-right: 0.1rem;
    border: 0.12rem solid var(--clr-primary);
    border-radius: 0.2rem;
}

.arrows-icon {
    width: 1rem;
    height: 1rem;
    margin-left: 0.2rem;
    vertical-align: -0.1rem;
}

table {
    display: grid;
    min-width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 0.2rem;
    padding-left: 0.5rem;
    color: var(--clr-primary);
    grid-template-columns:
        minmax(auto, auto) minmax(auto, 0.5fr) minmax(auto, 0.5fr) minmax(auto, 0.5fr) minmax(1rem, auto) minmax(auto, 2.3fr) minmax(auto, 1fr);
}

thead,
tbody,
tr {
    display: contents;
}

td {
    font-size: 0.9rem;
    vertical-align: middle;
    align-self: center;
    margin: 0.3rem;
}

tr td:first-child {
    white-space: nowrap;
}

tr td:nth-child(2),
tr td:nth-child(3),
tr td:nth-child(4) {
    margin: 0 1.3rem;
}

tr td:nth-child(7),
tr td:nth-child(9) {
    display: none;
}

/* tr td:last-child {
    padding: 1rem;
} */

/* td:nth-child(6n) {
    border-left: 0.02rem solid var(--clr-primary);
    border-right: 0.02rem solid var(--clr-primary);
} */


.colormark {
    padding: 0.3rem 1rem;
    text-align: center;
    border-radius: 0.2rem;
    border: 0.1rem solid var(--clr-primary);
}

.colorswatch {
    border-radius: 0.2rem;
    padding: 0.4rem 1rem;
    text-align: center;
}

.product-img {
    max-width: 100%;
    height: auto;
}

.manage-btn {
    display: flex;
    padding: 0.3rem 1rem;
    justify-content: center;
    border-radius: 0.2rem;
    border: 0.1rem solid var(--clr-primary);
}

.manage-btn-mobile {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    border-radius: 0.2rem;
    border: 0.1rem solid var(--clr-primary);
}

.pencil-icon {
    padding: 0;
    width: 3rem;
    height: 1rem;
}

.manage-arrows-icon {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
}

.manage-arrows-icon-mobile {
    width: 1rem;
    height: 1rem;
}

.manage-menu {
    display: none;
    position: absolute;
    margin-top: 0.4rem;
    z-index: 900;
    background-color: #FFF;
    border: 0.1rem solid var(--clr-primary);
    border-radius: 0.2rem;
}

.manage-menu ul {
    list-style: none;
    justify-content: center;
    width: 9rem;
}

.manage-menu ul li a {
    display: block;
    font-family: var(--ff-montserrat);
    padding: 0.4rem;
}

.manage-menu ul li a:hover {
    display: block;
    font-weight: 600;
    transition-duration: 0.4s;
    cursor: pointer;
}

.manage-menu ul li:not(:last-child) {
    border-bottom: 0.1rem solid var(--clr-primary);
}

/* MODAL */

.modal {
    max-width: 75%;
    min-width: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 900;
    background-color: white;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    border-radius: 0.5rem;
}

.modal-header {
    padding: 1.1rem 0.7rem 0rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-header .title {
    font-size: 1.1rem;
}

.modal-header .close-button {
    display: flex;
    outline: none;
    background: none;
    width: 2rem;
    height: auto;
    border: none;
    cursor: pointer;
}

.modal-header .close-button {
    fill: none;
    stroke: #393636;
    stroke-width: 28;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

/* MODAL: BODY */

.modal-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1.1rem;
    grid-gap: 1rem;
    grid-template-areas:
        "product-img product-img"
        "product-info product-info"
        "product-sets product-sets"
        "product-notes product-notes"
        "fav-buttons nav-arrows"
}

#overlay {
    position: fixed;
    /* opacity: 0; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 899;
    background-color: rgba(0, 0, 0, 0.5);
}

#overlay:active {
    opacity: 1;
    pointer-events: all;
}

/* MODAL: PRODUCT-IMAGE */

.product-img-modal {
    grid-area: product-img;
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    justify-content: center;
    background-color: red;
}

.img-modal {
    width: 100%;
    height: auto;
}

/* MODAL: PRODUCT-INFO */

.product-info {
    grid-area: product-info;
    display: flex;
    flex-flow: row wrap;
}

.product-info .colorname {
    flex: 1 100%;
    text-align: center;
    padding: 0.3rem;
    border: 0.11rem solid var(--clr-primary);
    border-radius: 0.375rem;
    margin: 0.8rem 0;
}

.product-info .colorswatch {
    flex: 2 100%;
    margin: 0 0 0.8rem;
}

.product-info .brand-type {
    flex: 4 70%;
}

.product-info .colormark {
    flex: 3 30%;
}

.product-info .product-indicator {
    display: flex;
    flex-flow: column wrap;
    flex: 5 100%;
    margin: 0.8rem 0;
    justify-content: center;
    align-items: center;
}

input[type="range"] {
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 1.8rem;
    width: 100%;
    cursor: pointer;
    margin: 0;
    border: 1.1px solid var(--clr-primary);
    border-radius: 0.375rem;
}

::-webkit-slider-runnable-track {
    background: #fff;
    border-radius: 0.375rem;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0rem;
    height: 1.8rem;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #989CD7;
    border-right: 1.1px solid var(--clr-primary);
}

::-moz-range-track {
    height: 40px;
    background: #fff;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 0px;
    box-shadow: -100vw 0 0 100vw #989CD7;
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: #989CD7;
}

::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 0px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: #fff;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip {
    display: none;
}

#value {
    position: relative;
    bottom: 1.5rem;
    font-family: var(--ff-montserrat);
    font-size: 1.1rem;
    font-weight: 500;
    color: #FFF;
    text-shadow: -1.1px -1.1px 0 var(--clr-primary), 1.1px -1.1px 0 var(--clr-primary), -1.1px 1.1px 0 var(--clr-primary), 1.1px 1.1px 0 var(--clr-primary);
}

.product-info .product-indicator svg {
    position: relative;
    bottom: 0.5rem;
    width: 70%;
    fill: none;
    stroke: #393636;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

/* MODAL: PRODUCT-SETS */

.product-sets {
    display: flex;
    flex-flow: row wrap;
    grid-area: product-sets;
    align-items: center;
}

.product-sets svg {
    width: 2rem;
    fill: none;
    stroke: #393636;
    stroke-width: 16;
    stroke-miterlimit: 10;
    margin-right: 0.4rem;
}

.product-sets h4,
.product-notes h4 {
    flex: 1 80%;
    font-weight: 600;
}

.product-sets .tags {
    flex: 1 100%;
    align-items: center;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

.product-sets .existing-tags {
    background-color: var(--clr-search);
    padding: 0.4rem 1rem;
    border-radius: 99rem;
    margin-right: 0.4rem;
}

.product-sets .existing-tags:hover {
    background-color: #ded6e7;
}

.product-sets .existing-tags:active {
    background-color: #ded6e7;
    color: var(--clr-primary);
}

.product-sets .add-tags:hover {
    text-decoration: underline;
}

.product-sets .add-tags:active {
    color: var(--clr-accent-2);
}

/* MODAL: PRODUCT-NOTES */

.product-notes {
    display: flex;
    flex-flow: row wrap;
    grid-area: product-notes;
    align-items: center;
}

.product-notes svg {
    width: 2rem;
    fill: none;
    stroke: #393636;
    stroke-width: 16;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    margin-right: 0.4rem;
}

.notes-container {
    padding: 0.5rem;
    margin-top: 0.4rem;
    border: 0.11rem solid var(--clr-primary);
    border-radius: 0.375rem;
}

/* MODAL: LIKE & WISHLIST BUTTONS */

.fav-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    grid-area: fav-buttons;
}

.fav-btn {
    outline: none;
    background: none;
    width: 2.3rem;
    height: auto;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.fav-btn svg {
    fill: none;
    stroke: #393636;
    stroke-width: 14;
    stroke-miterlimit: 10;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

.fav-btn svg .st2 {
    fill: #FF0000;
    stroke: #FF0000;
    stroke-width: 15;
    stroke-miterlimit: 10;
}

.wishlist-btn {
    font-family: var(--ff-raleway);
    font-size: 0.8rem;
    font-weight: 500;
    outline: none;
    background: none;
    height: auto;
    text-align: center;
    padding: 0.41rem;
    margin-left: 0.4rem;
    border: 1px solid var(--clr-primary);
    border-radius: 0.25rem;
    cursor: pointer;
}

/* MODAL: PREV & NEXT NAVIGATION */

.nav-arrows {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    grid-area: nav-arrows;
}

.nav-arrows .prev-btn svg {
    height: 2rem;
    vertical-align: middle;
}

.nav-arrows .prev-btn svg .st0,
.nav-arrows .next-btn svg .st0 {
    fill: #989CD7;
    stroke: #989CD7;
    stroke-width: 20;
    stroke-miterlimit: 10;
}

.nav-arrows .prev-btn svg .st1,
.nav-arrows .next-btn svg .st1 {
    fill: #FFFFFF;
    stroke: #FFFFFF;
    stroke-width: 20;
    stroke-miterlimit: 10;
}

.nav-arrows .next-btn {
    margin-left: 0.7rem;
}

.nav-arrows .next-btn svg {
    height: 2rem;
    vertical-align: middle;
    transform: rotate(-180deg);
}

/* MEDIA QUERIES */

@media screen and (min-width: 1024px) {
    .grid {
        display: grid;
        margin-top: 2rem;
        margin-bottom: 4rem;
        grid-template-columns: 5% 20% auto 5%;
        /* grid-gap: 1rem; */
        grid-template-areas:
            ". lap-title lap-title ."
            ". lap-signup-login content ."
            ". main-nav content ."
            ". lap-accountbar content ."
            ". lap-settings content ."
    }

    .grid__newbies {
        grid-template-columns: 15% 20% auto 15%;
    }

    header {
        display: none;
    }

    .laptop-title {
        grid-area: lap-title;
        display: block;
        font-size: 2.3rem;
        font-family: var(--ff-raleway);
        font-weight: 400;
        color: var(--clr-primary);
        text-align: center;
        width: 100%;
        height: fit-content;
        margin: 3rem 0rem 2rem;
    }

    .laptop-title a:hover {
        color: var(--clr-primary);
    }

    .laptop-signup-login {
        grid-area: lap-signup-login;
        display: flex;
        gap: 0.5rem;
        width: 100%;
        height: fit-content;
        justify-content: center;
    }

    .laptop-signup-login a {
        width: 100%;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        padding: 0.825rem 0;
        border-radius: 0.375rem;
    }

    .laptop-signup-login a:hover {
        background-color: var(--clr-accent-1);
        color: #FFF;
        border: 0.11rem solid currentColor;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .laptop-signup-login a:active {
        background-color: var(--clr-accent-2);
        color: #FFF;
        border: 0.11rem solid currentColor;
        transform: scale(0.98);
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .signup-laptop {
        color: #FFF;
        background-color: var(--clr-accent-2);
        border: 0.11rem solid var(--clr-accent-2);
    }

    .login-laptop {
        color: var(--clr-primary);
        border: 0.11rem solid var(--clr-primary);
    }

    .main-nav {
        margin: 0;
    }

    .main-nav__newbies {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .accountbar {
        grid-area: lap-accountbar;
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;
        height: 12rem;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
        border-radius: 0.375rem;
    }

    .accountbar:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.2;
        background-image: url("../img/1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .fullname {
        font-size: 1.1rem;
        font-weight: 700;
        color: var(--clr-primary);
    }

    .fullname:hover {
        font-weight: 900;
        cursor: pointer;
    }

    .nickname {
        font-family: var(--ff-montserrat);
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--clr-primary);
    }

    .registered {
        font-family: var(--ff-montserrat);
        font-size: 0.75rem;
        font-weight: 400;
        color: var(--clr-primary);
    }

    #edit-account {
        margin-top: 3rem;
    }

    .account-btns {
        font-family: var(--ff-montserrat);
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1.1rem;
        color: var(--clr-primary);
    }

    .account-btns:hover {
        font-weight: 700;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .laptop-settings {
        grid-area: lap-settings;
        display: flex;
        flex-flow: row wrap;
        gap: 0.5rem;
        width: 100%;
        height: fit-content;
        justify-content: center;
    }

    .laptop-settings__newbies {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .laptop-settings a {
        display: block;
        font-size: 1.1rem;
        font-weight: 500;
        white-space: nowrap;
        color: var(--clr-primary);
        text-transform: uppercase;
        text-align: center;
        padding: 0.825rem 0.3rem;
        border: 0.11rem solid var(--clr-primary);
        border-radius: 0.375rem;
    }

    .laptop-settings a:hover {
        background-color: var(--clr-accent-1);
        color: #FFF;
        border: 0.11rem solid currentColor;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .laptop-settings a:active {
        background-color: var(--clr-accent-2);
        color: #FFF;
        border: 0.11rem solid currentColor;
        transform: scale(0.98);
        transition-duration: 0.4s;
    }

    .copyright-laptop {
        display: block;
        font-size: 0.8rem;
        text-align: center;
        color: var(--clr-primary);
        margin-bottom: 6rem;
    }

    .content-window {
        margin-left: 0.5rem;
    }

    .modal-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 1.1rem;
        grid-gap: 1rem;
        grid-template-areas:
            "product-img product-img"
            "product-info product-sets"
            "fav-buttons product-notes"
            "nav-arrows nav-arrows"
    }
}

@media screen and (min-width: 1345px) {
    .grid__newbies {
        grid-template-columns: 28% 15% auto 28%;
    }
}

@media screen and (min-width: 801px) and (max-width: 1282px) {
    table {
        grid-template-columns:
            minmax(auto, auto) minmax(auto, 0.5fr) minmax(auto, 0.5fr) minmax(auto, 0.5fr) minmax(auto, auto) minmax(auto, 2.3fr) minmax(auto, 1fr);
    }

    tr td:nth-child(6) {
        display: none;
    }

    tr td:nth-child(7) {
        display: grid;
    }

}

@media screen and (max-width: 800px) {
    table {
        grid-template-columns:
            minmax(auto, auto) minmax(auto, 0.5fr) minmax(auto, 0.5fr) minmax(auto, 0.5fr) minmax(auto, auto) minmax(auto, 1fr);
    }

    tr td:nth-child(5),
    tr td:nth-child(6),
    tr td:nth-child(8) {
        display: none;
    }

    tr td:nth-child(7),
    tr td:nth-child(9) {
        display: grid;
    }

}