<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>edit product | my pen-box</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.6.0.js"></script>
</head>

<body>
<div class="grid grid__index">
    <header>
        <a href="/" class="title">my pen-box</a>
        <div class="header-links header-account-info">
            <span><b>Helena Meadows</b></span><br>
            <span>@elenmeadows</span>
        </div>
        <div class="header-account-avatar"></div>
        <div class="settings-icon">
            <div class="settings-icon__burger"></div>
        </div>
    </header>
    <div class="laptop-title"><a href="i/">my pen-box</a></div>
    <div class="settings">
        <a href="/feedback.html" class="settings__flex-feedback">Send Feedback</a>
        <a href="#" class="en-language settings__flex">en</a>
        <a href="#" class="ru-language settings__flex">ru</a>
        <a href="#" class="dark-mode settings__flex">dark mode</a>
        <a href="#" class="light-mode settings__flex">light mode</a>
        <span class="copyright">© Copyright — Helena Meadows</span>
    </div>

    <div class="settings-background">
    </div>

    <div class="laptop-settings laptop-settings__index">
        <a href="/feedback.html" class="settings__flex-feedback">Send Feedback</a>
        <a href="#" class="en-language settings__flex">en</a>
        <a href="#" class="ru-language settings__flex">ru</a>
        <a href="#" class="dark-mode settings__flex">dark mode</a>
        <a href="#" class="light-mode settings__flex">light mode</a>
        <p class="laptop-copyright">© Copyright — Helena Meadows</p>
    </div>

    <nav class="main-nav main-nav__index">
        <form th:action="@{/catalog/page/1}" role="search" method="get" name="search" class="search">
            <input type="hidden" name="sortField" th:value="colormark"/>
            <input type="hidden" name="sortDir" th:value="asc"/>
            <button type="submit" aria-label="submit">
                <i class="search-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                         style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path class="st0" d="M-1,2" />
                        <path class="st1" d="M337.3,340.3L447,450" />
                        <circle class="st1" cx="229.1" cy="223.5" r="156.2" />
                        </svg>
                </i>
            </button>
            <input type="text" name="keyword" th:value="${keyword}" class="search-input" placeholder="Search">
            <button type="reset" name="reset" aria-label="reset">
                <i class="reset-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                         style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <line class="st0" x1="192" y1="320" x2="318.7" y2="193.3" />
                        <line class="st0" x1="192" y1="192" x2="320" y2="320" />
                        </svg>
                </i>
            </button>
        </form>
        <ul>
            <li><a href="/catalog">catalogue</a></li>
            <li><a href="#">my pen-box</a></li>
            <li><a href="#">my sets</a></li>
            <li><a href="#">favourites</a></li>
            <li><a href="#">wishlist</a></li>
        </ul>
    </nav>

    <div class="content-window content-window__index">
        <div class="auth__api">
            <h2 class="heading">edit product</h2>
        </div>
        <p class="content-window__text">
        <form class="content-window__fields" action="№" th:action="@{/save}" th:object="${product}" method="post">
            <b>product info</b><br>
            id <input type="text" th:field="*{id}" id="product-id" placeholder="pencil" readonly="readonly"><br>
            <input type="text" th:field="*{category}" placeholder="pencil"> category<br>
            <input type="text" th:field="*{brand}" placeholder="Derwent"> brand<br>
            <input type="text" th:field="*{type}" placeholder="Inktense"> type<br>
            <input type="text" th:field="*{colormark}" placeholder="0100"> colormark<br>
            <input type="text" th:field="*{colorswatch}" placeholder="#F4ED5F"> colorswatch<br>
            <input type="text" th:field="*{colorname}" placeholder="Sherbet Lemon"> colorname<br><br>
            <b>product image</b><br>
            <input type="file" name="product-image" id="product-image"><br>
            <button type="submit" class="content-window__buttons">
                Edit
            </button>
        </form>
        </p>

    </div>
</div>
</body>
<script src="/js/main.js"></script>

</html>