@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

h1 {
  text-align: center;
  color: #393636;
  font-size: 42px;
  font-family: "Raleway", sans-serif;
}

a.user-name {
  color: #393636;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
}

a.user-name:hover {
  color: #898eb9;
}

a.user-name:active {
  color: #393636;
}

.id_card1 {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 0.2rem;
  overflow: auto;
  height: auto;
  position: relative;
  border: 1px #393636 solid;
  border-radius: 0.25rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.square {
  border: 0.1rem solid #393636;
  border-radius: 0.25rem;
  overflow: hidden;
}

.registered {
  font-size: 0.7rem;
  line-height: 0.5rem;
  margin-bottom: 0.9rem;
}

a.idcard_links {
  font-size: 0.8rem;
  line-height: 1rem;
  color: #393636;
  text-decoration: none;
}

a.idcard_links:hover {
  text-decoration: underline;
}
