<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>catalog | my pen-box</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="/js/jquery-3.6.0.js"></script>
</head>

<body>
<div class="grid">
    <header>
        <a href="/" class="title">my pen-box</a>
        <div class="header-links">
            <a href="login.html" class="header-links__login">Log In</a>
            <a href="sign-up.html" class="header-links__signup">Sign Up</a>
        </div>
        <div class="settings-icon">
            <div class="settings-icon__burger"></div>
        </div>
    </header>
    <div class="laptop-title"><a href="/">my pen-box</a></div>
    <div class="settings">
        <a href="feedback.html" class="settings__flex-feedback">Send Feedback</a>
        <a href="#" class="en-language settings__flex">en</a>
        <a href="#" class="ru-language settings__flex">ru</a>
        <a href="#" class="dark-mode settings__flex">dark mode</a>
        <a href="#" class="light-mode settings__flex">light mode</a>
        <span class="copyright">© Copyright — Helena Meadows</span>
    </div>

    <div class="settings-background">
    </div>

    <div class="laptop-signup-login">
        <a href="sign-up.html" class="laptop__signup">Sign Up</a>
        <a href="login.html" class="laptop__login">Log In</a>
    </div>

    <div class="laptop-settings">
        <a href="feedback.html" class="settings__flex-feedback">Send Feedback</a>
        <a href="#" class="en-language settings__flex">en</a>
        <a href="#" class="ru-language settings__flex">ru</a>
        <a href="#" class="dark-mode settings__flex">dark mode</a>
        <a href="#" class="light-mode settings__flex">light mode</a>
        <p class="laptop-copyright">© Copyright — Helena Meadows</p>
    </div>

    <nav class="main-nav">
        <form th:action="@{/catalog/page/1}" role="search" method="get" name="search" class="search">
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${whatSortDir}"/>
            <button type="submit" aria-label="submit">
                <i class="search-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                         style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path class="st0" d="M-1,2" />
                        <path class="st1" d="M337.3,340.3L447,450" />
                        <circle class="st1" cx="229.1" cy="223.5" r="156.2" />
                        </svg>
                </i>
            </button>
            <input type="text" name="keyword" th:value="${keyword}" class="search-input" placeholder="Search">
            <button type="reset" name="reset" aria-label="reset">
                <i class="reset-icon">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                         style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <line class="st0" x1="192" y1="320" x2="318.7" y2="193.3" />
                        <line class="st0" x1="192" y1="192" x2="320" y2="320" />
                        </svg>
                </i>
            </button>
        </form>
        <ul>
            <li><a href="/catalog">catalogue</a></li>
        </ul>
    </nav>

    <div class="content-window">
        <div class="sortby-filter-nav">
            Filter
            <button class="filter-toggle">off</button>
            // Sort by
            <button type="button" class="sortby-button">
                <svg class="double-arrow" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                     style="enable-background:new 0 0 512 512;" xml:space="preserve">
                        <path class="st0" d="M430.9,241L256,361.8L81.1,241" />
                    <path class="st0" d="M407.2,153L256.9,256.7L106.6,153" />
                </svg>
            </button>
        </div>
        <div class="sortby-filter-submenu">
            <div class="s-f-submenu__sortby">
                <ul>
                    <li>
                        <a th:href="@{'/catalog/page/' + ${currentPage} + '?sortField=brand&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                            <button class="sortby-submenu-button" th:classappend="${sortField == 'brand' and whatSortDir == 'desc' ? 'selected' : ''}" type="button">Z — A</button>
                        </a>
                        <a th:href="@{'/catalog/page/' + ${currentPage} + '?sortField=brand&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                        <button class="sortby-submenu-button" th:classappend="${sortField == 'brand' and whatSortDir == 'asc' ? 'selected' : ''}" type="button">A — Z</button>
                        </a>
                        Brand</li>
                    <li>
                        <a th:href="@{'/catalog/page/' + ${currentPage} + '?sortField=type&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                            <button class="sortby-submenu-button" th:classappend="${sortField == 'type' and whatSortDir == 'desc' ? 'selected' : ''}" type="button">Z — A</button>
                        </a>
                        <a th:href="@{'/catalog/page/' + ${currentPage} + '?sortField=type&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                        <button class="sortby-submenu-button" th:classappend="${sortField == 'type' and whatSortDir == 'asc' ? 'selected' : ''}" type="button">A — Z</button>
                        </a>
                        Type</li>
                    <li>
                        <a th:href="@{'/catalog/page/' + ${currentPage} + '?sortField=colormark&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                            <button class="sortby-submenu-button" th:classappend="${sortField == 'colormark' and whatSortDir == 'desc' ? 'selected' : ''}" type="button">Z — A</button>
                        </a>
                        <a th:href="@{'/catalog/page/' + ${currentPage} + '?sortField=colormark&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                        <button class="sortby-submenu-button" th:classappend="${sortField == 'colormark' and whatSortDir == 'asc' ? 'selected' : ''}" type="button">A — Z</button>
                        </a>
                        Color number</li>
                    <li>
                        <a th:href="@{'/catalog/page/' + ${currentPage} + '?sortField=colorname&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                            <button class="sortby-submenu-button" th:classappend="${sortField == 'colorname' and whatSortDir == 'desc' ? 'selected' : ''}" type="button">Z — A</button>
                        </a>
                        <a th:href="@{'/catalog/page/' + ${currentPage} + '?sortField=colorname&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                        <button class="sortby-submenu-button" th:classappend="${sortField == 'colorname' and whatSortDir == 'asc' ? 'selected' : ''}" type="button">A — Z</button>
                        </a>
                        Color name</li>
                </ul>
            </div>
            <div class="s-f-submenu__filter">
                <input id="brand-filter" name="group" type="radio" checked>
                <input id="type-filter" name="group" type="radio">
                <div class="filter-tabs">
                    <label id="filter-tabs__one" for="brand-filter">Brand</label>
                    <label id="filter-tabs__two" for="type-filter">Type</label>
                </div>
                <div class="filter-panels">
                    <div id="filter-panels__one">
                        <span><a href="/catalog/page/1?sortField=colormark&sortDir=asc&keyword=copic">Copic</a></span>
                        <span><a href="/catalog/page/1?sortField=colormark&sortDir=asc&keyword=derwent">Derwent</a></span>
                    </div>
                    <div id="filter-panels__two">
                        <span><a href="/catalog/page/1?sortField=colormark&sortDir=asc&keyword=inktense">Inktense</a></span>
                        <span><a href="/catalog/page/1?sortField=colormark&sortDir=asc&keyword=sketch">Sketch</a></span>
                    </div>
                </div>
            </div>
        </div>
        <table>
            <thead></thead>
            <tbody>
            <th:block th:each="el : ${listProducts}">
            <tr>
                <td>
                    <input type="checkbox" th:id="${el.id} + '_' + ${el.colorname}" name="checkbox"/>
                    <label th:for="${el.id} + '_' + ${el.colorname}"></label>
                </td>
                <td>
                    <div class="brand-type">
                                <span class="brand">
                                    <a th:href="@{'/catalog/page/1?sortField=colormark&sortDir=' + ${sortDir} + '&keyword=' + ${el.brand.toLowerCase()}}">
                                        <th:block th:text="${el.brand}"/>
                                    </a><br>
                                </span>
                                <span class="type">
                                    <a th:href="@{'/catalog/page/1?sortField=colormark&sortDir=' + ${sortDir} + '&keyword=' + ${el.type.toLowerCase()}}">
                                        <th:block th:text="${el.type}"/>
                                    </a>
                                </span>
                    </div>
                </td>
                <td>
                    <div class="colormark"><th:block th:text="${el.colormark}"/></div>
                </td>
                <td>
                    <div class="colorswatch" th:styleappend="'background-color: ' + ${el.colorswatch} + ';' + 'color: ' + ${el.colorswatch} + ';'">[[${el.colorswatch}]]</div>
                </td>
                <td>
                            <span class="colorname">
                                <th:block th:text="${el.colorname}"/>
                            </span>
                </td>
                <td><img class="product-image" src="img/derwent-inktense0200.jpg"></td>
                <td>
                    <button type="button" href="#" class="edit-button modal-open" th:id="${el.id} + '_' + ${el.colorname}">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 448.5 188.4"
                             style="enable-background:new 0 0 448.5 188.4;" xml:space="preserve">
                                    <path class="st0"
                                          d="M426.1,81.3l-98.8-55.1c-0.9-0.5-1.8-0.9-2.7-1.2c-2.6-1.8-5.8-2.9-9.2-2.9H35.3c-8.7,0-15.7,6.7-15.7,15v114
                                            	c0,8.3,7,15,15.7,15h280.1c3.1,0,6-0.9,8.5-2.4c1.2-0.3,2.3-0.8,3.4-1.4l98.8-55.1C436.4,101.4,436.4,87.1,426.1,81.3z" />
                            <polygon class="st1" points="437.1,95.1 392.4,64.1 392.4,126.1 " />
                            <line class="st2" x1="318.6" y1="22.4" x2="318.6" y2="166.1" />
                            <line class="st2" x1="318.6" y1="94.8" x2="19.7" y2="94.8" />
                            <line class="st2" x1="318.7" y1="94.8" x2="19.7" y2="94.8" />
                            <line class="st2" x1="318.5" y1="131" x2="19.5" y2="131" />
                            <line class="st2" x1="318.5" y1="58.6" x2="19.5" y2="58.6" />
                                </svg>
                    </button>
                </td>
                <td>
                    <button type="button" class="manage-button">
                        <span>Manage</span>
                        <svg class="double-arrow" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                             style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <path class="st0" d="M430.9,241L256,361.8L81.1,241" />
                            <path class="st0" d="M407.2,153L256.9,256.7L106.6,153" />
                                </svg>
                    </button>
                    <nav class="submenu__manage">
                        <ul>
                            <li><a href="#">Add to favorites</a></li>
                            <li><a href="#">Add to wishlist</a></li>
                            <li><a class="modal-open" th:id="${el.id} + '_' + ${el.colorname}" href="#">Edit</a></li>
                        </ul>
                    </nav>
                </td>
            </tr>
            </th:block>
            </tbody>
        </table>
        <div class="multselection">
            <div class="multselection__counter"><span>0</span> item(s) been selected</div>
            <div class="multselection__buttons">
                <button id="select-all">SELECT ALL</button>
                <button id="remove-selection">REMOVE SELECTION</button>
                <button class="fav-button">
                    &#10084;
                </button>
                <button class="wishlist-button">WISHLIST</button>
                <button>DELETE</button>
            </div>
        </div>
        <div class="pagination">
            <div>
                <span id="total-items">Total Items: [[${totalItems}]]</span>
                <span>// Page [[${currentPage}]] of [[${totalPages}]]</span>
            </div>
            <div>

                <th:block th:if="${totalPages < 7}">
                    <a th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a class="pagination__pages" th:if="${currentPage != i}" th:href="@{'/catalog/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${whatSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>
                        <span class="pagination__pages selected" th:unless="${currentPage != i}">[[${i}]]</span>
                    </a>
                </th:block>

                <th:block th:if="${totalPages >= 7}">

                    <th:block th:if="${currentPage <= 3}">
                        <a th:each="i: ${#numbers.sequence(1, 3)}">
                            <a class="pagination__pages" th:if="${currentPage != i}" th:href="@{'/catalog/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${whatSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>
                            <span class="pagination__pages selected" th:unless="${currentPage != i}">[[${i}]]</span>
                        </a>

                        <a class="pagination__pages" th:href="@{'/catalog/page/' + 4 + '?sortField=' + ${sortField} + '&sortDir=' + ${whatSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}"><span>&#187;</span></a>

                    </th:block>

                    <th:block th:if="${currentPage >= totalPages - 2}">
                        <a class="pagination__pages" th:href="@{'/catalog/page/' + 4 + '?sortField=' + ${sortField} + '&sortDir=' + ${whatSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}"><span>&#171;</span></a>

                        <a th:each="i: ${#numbers.sequence(totalPages - 2, totalPages)}">
                            <a class="pagination__pages" th:if="${currentPage != i}" th:href="@{'/catalog/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${whatSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>
                            <span class="pagination__pages selected" th:unless="${currentPage != i}">[[${i}]]</span>
                        </a>
                    </th:block>

                    <th:block th:if="${currentPage > 3 && currentPage < totalPages - 2}">
                        <a class="pagination__pages" th:href="@{'/catalog/page/' + ${currentPage - 3} + '?sortField=' + ${sortField} + '&sortDir=' + ${whatSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}"><span>&#171;</span></a>

                        <a th:each="i: ${#numbers.sequence(currentPage - 1, currentPage + 1)}">
                            <a class="pagination__pages" th:if="${currentPage != i}" th:href="@{'/catalog/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${whatSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>
                            <span class="pagination__pages selected" th:unless="${currentPage != i}">[[${i}]]</span>
                        </a>

                        <a class="pagination__pages" th:href="@{'/catalog/page/' + ${currentPage + 3} + '?sortField=' + ${sortField} + '&sortDir=' + ${whatSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}"><span>&#187;</span></a>
                    </th:block>

                </th:block>

            </div>
        </div>
    </div>
    </div>
</div>

<div class="modal">
    <div class="modal__header">
        <span>close</span>
        <button class="close-button">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                 style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <line class="st0" x1="107" y1="405" x2="402" y2="110" />
                <line class="st0" x1="107" y1="107" x2="405" y2="405" />
                <path class="st1"
                      d="M404.7,465H107.3C74,465,47,438,47,404.7V107.3C47,74,74,47,107.3,47h297.4C438,47,465,74,465,107.3v297.4C465,438,438,465,404.7,465z" />
                </svg>
        </button>
    </div>
    <div class="modal__body">
        <div class="product-image__modal">
            <img src="img/derwentinktense1800.png" alt="">
        </div>
        <div id="product-info" th:insert="fragments/modal :: product-info"></div>
        <div id="product-sets" th:insert="fragments/modal :: product-sets"></div>
        <div id="product-notes" th:insert="fragments/modal :: product-notes"></div>
        <div id="fav-wishlist-buttons" th:insert="fragments/modal :: fav-wishlist-buttons"></div>
        <div id="prev-next-buttons" th:insert="fragments/modal :: prev-next-buttons"></div>
    </div>
</div>
<div id="overlay"></div>
</body>
<script th:src="@{/js/main.js}"></script>
</html>