<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>my pen-box</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="grid">
        <header>
            <a href="index.html" class="main-logo">my pen-box</a>
            <div class="header-links">
                <a href="#" class="login-b">Log In</a>
                <a href="#" class="signup-b">Sign Up</a>
            </div>
            <div class="set-icon"></div>
        </header>
        <div class="laptop-title"><a href="#">my pen-box</a></div>
        <div class="settings">
            <a href="#" class="feedback-b">Send Feedback</a>
            <a href="#" class="en-lang lang-flex">en</a>
            <a href="#" class="ru-lang lang-flex">ru</a>
            <a href="#" class="dark-mode mode-flex">dark mode</a>
            <a href="#" class="light-mode mode-flex">light mode</a>
            <span class="copyright">© Copyright — Helena Meadows</span>
        </div>

        <div class="settings-background">
        </div>

        <div class="laptop-signup-login">
            <a href="#" class="signup-laptop">Sign Up</a>
            <a href="#" class="login-laptop">Log In</a>
        </div>

        <div class="accountbar">
            <a href="#" class="fullname">Helena Meadows</a>
            <span class="nickname">@elen_meadows</span>
            <span class="registered">registered 13 days ago</span>
            <a href="#" id="edit-account" class="account-btns">Edit account</a>
            <a href="#" class="account-btns">Log out</a>
        </div>

        <div class="laptop-settings">
            <a href="#" class="feedback-b">Send Feedback</a>
            <a href="#" class="en-lang lang-flex">en</a>
            <a href="#" class="ru-lang lang-flex">ru</a>
            <a href="#" class="dark-mode mode-flex">dark mode</a>
            <a href="#" class="light-mode mode-flex">light mode</a>
            <p class="copyright-laptop">© Copyright — Helena Meadows</p>
        </div>

        <nav class="main-nav">
            <form role="search" method="get" name="search" class="search" action="">
                <button type="submit" name="submit" aria-label="submit">
                    <i class="search-icon"></i>
                </button>
                <input type="text" name="search" id="input" value="" class="search-input" placeholder="Search">
                <button type="reset" name="reset" aria-label="reset">
                    <i class="reset-icon"></i>
                </button>
            </form>
            <ul>
                <li><a href="catalog.html">catalogue</a></li>
                <li><a href="#">my pen-box</a></li>
                <li><a href="#">my sets</a></li>
                <li><a href="#">favourites</a></li>
                <li><a href="#">wishlist</a></li>
            </ul>
        </nav>

        <div class="content-window main-style">
            <h2 class="greeting">hiy there,</h2>
            <p class="about-text">Etiam congue ligula metus, eget iaculis sapien ultricies id. Donec eleifend odio
                augue, bibendum consectetur mauris ullamcorper eget. Sed et accumsan ligula. Morbi aliquam quam sit amet
                nibh laoreet vulputate. Curabitur id congue ante. Etiam at semper nibh, vitae volutpat nulla. Maecenas
                vel consectetur sapien. Aenean quis imperdiet augue, eu sollicitudin nisi. Quisque consectetur ornare
                tempus. Maecenas nisi massa, rhoncus nec facilisis eu, malesuada sed arcu. Fusce quis vulputate libero.
                Etiam congue ligula metus, eget iaculis sapien ultricies id. Donec eleifend odio augue, bibendum
                consectetur mauris ullamcorper eget. Sed et accumsan ligula. Morbi aliquam quam sit amet nibh laoreet
                vulputate. Curabitur id congue ante. Etiam at semper nibh, vitae volutpat nulla. Maecenas vel
                consectetur sapien. Aenean quis imperdiet augue, eu sollicitudin nisi. Quisque consectetur ornare
                tempus. Maecenas nisi massa, rhoncus nec facilisis eu, malesuada sed arcu. Fusce quis vulputate libero.
                Etiam congue ligula metus, eget iaculis sapien ultricies id. Donec eleifend odio augue, bibendum
                consectetur mauris ullamcorper eget. Sed et accumsan ligula. Morbi aliquam quam sit amet nibh laoreet
                vulputate.
            </p>
            <a href="#" class="login-but">Log In</a>
            <a href="#" class="signup-but">Sign Up</a>
        </div>

    </div>
</body>
<script src="js/main.js"></script>

</html>