<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>my pen-box</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
<div class="grid">
    <div th:insert="blocks/menuBlock :: header"></div>

    <div class="laptop-account">
    </div>

    <div class="laptop-sidebar">
        <a href="#" class="signup-laptop">Sign Up</a>
        <a href="#" class="login-laptop">Log In</a>
    </div>

    <nav th:insert="blocks/menuBlock :: mNavigation" class="main-nav"></nav>
    <div class="content-window">
        <h2 class="greeting">hiy there,</h2>
        <p class="about-text">Etiam congue ligula metus, eget iaculis sapien ultricies id. Donec eleifend odio
            augue, bibendum consectetur mauris ullamcorper eget. Sed et accumsan ligula. Morbi aliquam quam sit amet
            nibh laoreet vulputate. Curabitur id congue ante. Etiam at semper nibh, vitae volutpat nulla. Maecenas
            vel consectetur sapien. Aenean quis imperdiet augue, eu sollicitudin nisi. Quisque consectetur ornare
            tempus. Maecenas nisi massa, rhoncus nec facilisis eu, malesuada sed arcu. Fusce quis vulputate libero.
            Etiam congue ligula metus, eget iaculis sapien ultricies id. Donec eleifend odio augue, bibendum
            consectetur mauris ullamcorper eget. Sed et accumsan ligula. Morbi aliquam quam sit amet nibh laoreet
            vulputate. Curabitur id congue ante. Etiam at semper nibh, vitae volutpat nulla. Maecenas vel
            consectetur sapien. Aenean quis imperdiet augue, eu sollicitudin nisi. Quisque consectetur ornare
            tempus. Maecenas nisi massa, rhoncus nec facilisis eu, malesuada sed arcu. Fusce quis vulputate libero.
            Etiam congue ligula metus, eget iaculis sapien ultricies id. Donec eleifend odio augue, bibendum
            consectetur mauris ullamcorper eget. Sed et accumsan ligula. Morbi aliquam quam sit amet nibh laoreet
            vulputate. Curabitur id congue ante. Etiam at semper nibh, vitae volutpat nulla. Maecenas vel
            consectetur sapien. Aenean quis imperdiet augue, eu sollicitudin nisi. Quisque consectetur ornare
            tempus. Maecenas nisi massa, rhoncus nec facilisis eu, malesuada sed arcu. Fusce quis vulputate libero.
        </p>
        <a href="#" class="login-but">Log In</a>
        <a href="#" class="signup-but">Sign Up</a>
    </div>

</div>
</body>
<script src="js/main.js"></script>
</html>